.container {
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
    position: relative;
}

.search {
    /* background-color: pink; */
    /* padding: 1rem 5rem; */
    width: 60%;
    min-width: 200px;
    position: relative;
    display: flex;
    column-gap: 2rem;
}

.searchBtn {
    padding: 0rem 1rem;
    border: 2px solid #ec7267;
    border-radius: 4px;
    background-color: #fff;
    color: #3f4544;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.searchBtn:hover {
    background-color: #ec7267;
    color: #fff;
}

.searchBar {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 4px;
    border: 2px solid #595959;
    outline: none;
    width: 100%;
}

.searchBar:focus {
    border: 2px solid #ec7267;
}

.searchOpt {
    border: 1px solid #595959;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    z-index: 10;
    background: #fff;
    max-height: 200px;
    width: 50vw;
    height: fit-content;
    overflow-y: auto;
    top: 100%;
    left: 0.2rem;
    box-shadow: 5px 2px 8px #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.opt {
    padding: 0.2rem 0.6rem;
    border-bottom: 1px solid #cbcaca;
    cursor: pointer;
    transition: all 0.2s ease-in;
    width: 100%;
}

.opt:hover {
    background: #eee;
}

.container {
    /* background: pink; */
}

.title {
    font-size: 2rem;
}

.storyList {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    min-height: 60vh;
    justify-content: center;
    /* align-items: center; */
}

.loading {
    font-size: 1.2rem;
    text-align: center;
}

.storyCard {
    border: 2px solid #c2c2c2;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}

.storyCard:hover {
    border: 2px solid #ec7267;
    cursor: pointer;
    box-shadow: 5px 5px 10px #cbcaca;
    transition: all 0.2s ease-in;
}

.storyCard:hover,
.span {
    transform: scale(1.01);
}

.storyTitle {
    font-size: 1.1rem;
    font-weight: 500;
}

.storyAuthor {
    font-size: small;
    font-weight: 300;
}

.storyCreated {
    font-size: 0.8rem;
    color: #a7a7a7;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .container {
        /* background: pink; */
        padding: 1rem;
    }
    .search {
        width: 100%;
    }
    .searchOpt {
        width: 90vw;
    }
}