.container {
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
}

.search {
    /* background-color: pink; */
    /* padding: 1rem 5rem; */
    width: 50%;
    min-width: 200px;
}

.searchBar {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 2px solid #595959;
    outline: none;
    width: 100%;
    box-shadow: 5px 2px 8px #c2c2c2;
}

.searchBar:focus {
    border: 2px solid #ec7267;
}

.container {
    /* background: pink; */
}

.title {
    font-size: 2rem;
}

.storyList {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    min-height: 60vh;
    justify-content: center;
    /* align-items: center; */
}

.loading {
    font-size: 1.2rem;
    text-align: center;
}

.storyCard {
    border: 2px solid #c2c2c2;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}

.storyCard:hover {
    border: 2px solid #ec7267;
    cursor: pointer;
    box-shadow: 5px 5px 10px #cbcaca;
    transition: all 0.2s ease-in;
}

.storyCard:hover,
.span {
    transform: scale(1.01);
}

.storyTitle {
    font-size: 1.1rem;
    font-weight: 500;
}

.storyAuthor {
    font-size: small;
    font-weight: 300;
}

.storyCreated {
    font-size: 0.8rem;
    color: #a7a7a7;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}